{
  "openapi": "3.1.0",
  "info": {
    "title": "Blocklet - Open Weather Map (OneCall) v3.0",
    "summary": "Proxy API - Open Weather Map OneCall v3.0",
    "termsOfService": "terms of service description",
    "description": "Get essential weather data, short-term and long-term forecasts and aggregated weather data is easy with the OpenWeather One Call API v3.0.",
    "version": "3.0"
  },
  "x-blocklet-description": "",
  "externalDocs": {
    "description": "Openweathermap Documentation",
    "url": "https://openweathermap.org/api/one-call-3"
  },
  "servers": [
    {
      "url": "https://api.openweathermap.org/data/3.0"
    }
  ],
  "security": [
    {
      "blocApiKey": []
    }
  ],
  "paths": {
    "/onecall": {
      "get": {
        "tags": [
          "Weather"
        ],
        "name": "Get Weather Data",
        "summary": "To get access to current weather, minute forecast for 1 hour, hourly forecast for 48 hours, daily forecast for 8 days and government weather alerts",
        "description": "Current and forecasts weather data",
        "parameters": [
          {
            "name": "x-collection-key",
            "in": "header",
            "description": "Additional Collection Specific API Key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Use token from a Bloclet authentication Bloc",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Latitude, decimal (-90; 90). If you need the geocoder to automatic convert city names and zip-codes to geo coordinates and the other way around, use one of our Geocoding Blocks",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Longitude, decimal (-180; 180). If you need the geocoder to automatic convert city names and zip-codes to geo coordinates and the other way around, use one of our Geocoding Blocks",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "By using this parameter you can exclude some parts of the weather data from the API response. It should be a comma-delimited list (without spaces). Available values: current, minutely, hourly, daily, alerts",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "description": "Units of measurement. standard, metric and imperial units are available. If you do not use the units parameter, standard units will be applied by default.",
            "schema": {
              "type": "string",
              "enum": [
                "standard",
                "metric",
                "imperial"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "You can use the lang parameter to get the output in your language. See documentation for ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "error",
            "content": {}
          },
          "403": {
            "description": "Unauthorised",
            "content": {}
          },
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number"
                    },
                    "lon": {
                      "type": "number"
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "timezone_offset": {
                      "type": "number"
                    },
                    "current": {
                      "type": "object",
                      "properties": {
                        "dt": {
                          "type": "number"
                        },
                        "temp": {
                          "type": "number"
                        },
                        "feels_like": {
                          "type": "number"
                        },
                        "pressure": {
                          "type": "number"
                        },
                        "humidity": {
                          "type": "number"
                        },
                        "dew_point": {
                          "type": "number"
                        },
                        "uvi": {
                          "type": "number"
                        },
                        "clouds": {
                          "type": "number"
                        },
                        "visibility": {
                          "type": "number"
                        },
                        "wind_speed": {
                          "type": "number"
                        },
                        "wind_deg": {
                          "type": "number"
                        },
                        "wind_gust": {
                          "type": "number"
                        },
                        "weather": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "main": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "hourly": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dt": {
                            "type": "number"
                          },
                          "temp": {
                            "type": "number"
                          },
                          "feels_like": {
                            "type": "number"
                          },
                          "pressure": {
                            "type": "number"
                          },
                          "humidity": {
                            "type": "number"
                          },
                          "dew_point": {
                            "type": "number"
                          },
                          "uvi": {
                            "type": "number"
                          },
                          "clouds": {
                            "type": "number"
                          },
                          "visibility": {
                            "type": "number"
                          },
                          "wind_speed": {
                            "type": "number"
                          },
                          "wind_deg": {
                            "type": "number"
                          },
                          "wind_gust": {
                            "type": "number"
                          },
                          "weather": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "main": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "icon": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "pop": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "daily": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dt": {
                            "type": "number"
                          },
                          "sunrise": {
                            "type": "number"
                          },
                          "sunset": {
                            "type": "number"
                          },
                          "moonrise": {
                            "type": "number"
                          },
                          "moonset": {
                            "type": "number"
                          },
                          "moon_phase": {
                            "type": "number"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "temp": {
                            "type": "object",
                            "properties": {
                              "day": {
                                "type": "number"
                              },
                              "min": {
                                "type": "number"
                              },
                              "max": {
                                "type": "number"
                              },
                              "night": {
                                "type": "number"
                              },
                              "eve": {
                                "type": "number"
                              },
                              "morn": {
                                "type": "number"
                              }
                            }
                          },
                          "feels_like": {
                            "type": "object",
                            "properties": {
                              "day": {
                                "type": "number"
                              },
                              "night": {
                                "type": "number"
                              },
                              "eve": {
                                "type": "number"
                              },
                              "morn": {
                                "type": "number"
                              }
                            }
                          },
                          "pressure": {
                            "type": "number"
                          },
                          "humidity": {
                            "type": "number"
                          },
                          "dew_point": {
                            "type": "number"
                          },
                          "wind_speed": {
                            "type": "number"
                          },
                          "wind_deg": {
                            "type": "number"
                          },
                          "wind_gust": {
                            "type": "number"
                          },
                          "weather": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "main": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "icon": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "clouds": {
                            "type": "number"
                          },
                          "pop": {
                            "type": "number"
                          },
                          "uvi": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "blocApiKey": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  },
  "x-original-swagger-version": "2.0"
}